<div class="title-profil">
    <div class="head-profil">
        <p>Profil</p>
    </div>
</div>
<div class="route-profil">
    <p>Home <span> > Profil</span></p>
</div>
<div class="container">
    <div class="profil">
        <div class="title-parent">
            <p>My Profil</p>
        </div>
        <div class="bio">
            <div class="edit"><i class="fas fa-edit"></i>
            <ul class="dropdown">
                <li><p><span class="logo1"><i class="fas fa-user-edit"></i></span>Edit</p></li>
                <li><p><span class="logo2"><i class="far fa-times-circle"></i></span>Close</p></li>
                <li><p><span class="logo3"><i class="fas fa-redo"></i></span>Refresh</p></li>
            </ul>
            </div>
            <div class="header-bio">
                <div class="photo"><img src="assets/icon/person.jpg" alt=""></div>
                <div class="name">
                    <p>Bane</p>
                </div>
            </div>
            <div class="data-bio">
                <div class="name-con">
                    <div class="title">
                        <p>Name :</p>
                    </div>
                    <div class="title2">
                        <p>Bane</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Gender :</p>
                    </div>
                    <div class="title2">
                        <p>Male</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Occupation :</p>
                    </div>
                    <div class="title2">
                        <p>Business</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>ID :</p>
                    </div>
                    <div class="title2">
                        <p>#15059</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Address :</p>
                    </div>
                    <div class="title2">
                        <p>Padang</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Religion :</p>
                    </div>
                    <div class="title2">
                        <p>Islam</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Phone :</p>
                    </div>
                    <div class="title2">
                        <p>081202034930</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>E-mail :</p>
                    </div>
                    <div class="title2">
                        <p>bane@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-myKid">
        <div class="title-kid">
            <p>My Kids Detail</p>
        </div>
        <div class="profil-myKid">
            <div class="header-bio">
                <div class="photo"><img src="assets/icon/person2.jpg" alt=""></div>
                <div class="name-kid">
                    <p>jane</p>
                </div>
            </div>
            <div class="container-data-bio">
                <div class="data-bio">
                    <div class="name-con">
                        <div class="title1">
                            <p>Name :</p>
                        </div>
                        <div class="title2">
                            <p>Jane</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Gender :</p>
                        </div>
                        <div class="title2">
                            <p>Female</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Date of birth :</p>
                        </div>
                        <div class="title2">
                            <p>02/05/2003</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Religion :</p>
                        </div>
                        <div class="title2">
                            <p>Islam</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Email :</p>
                        </div>
                        <div class="title2">
                            <p>Jane@gmail.com</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Class :</p>
                        </div>
                        <div class="title2">
                            <p>2</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Adress :</p>
                        </div>
                        <div class="title2">
                            <p>Padang</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Phone :</p>
                        </div>
                        <div class="title2">
                            <p>08129292109</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profil-myKid">
            <div class="header-bio">
                <div class="photo"><img src="assets/icon/person2.jpg" alt=""></div>
                <div class="name-kid">
                    <p>jane</p>
                </div>
            </div>
            <div class="container-data-bio">
                <div class="data-bio">
                    <div class="name-con">
                        <div class="title1">
                            <p>Name :</p>
                        </div>
                        <div class="title2">
                            <p>Jane</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Gender :</p>
                        </div>
                        <div class="title2">
                            <p>Female</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Date of birth :</p>
                        </div>
                        <div class="title2">
                            <p>02/05/2003</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Religion :</p>
                        </div>
                        <div class="title2">
                            <p>Islam</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Email :</p>
                        </div>
                        <div class="title2">
                            <p>Jane@gmail.com</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Class :</p>
                        </div>
                        <div class="title2">
                            <p>2</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Adress :</p>
                        </div>
                        <div class="title2">
                            <p>Padang</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title1">
                            <p>Phone :</p>
                        </div>
                        <div class="title2">
                            <p>08129292109</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>