<div class="title-profil">
    <div class="head-profil">
        <p>Dashboard Parent</p>
    </div>
</div>
<div class="route-profil">
    <p>Home <span> > Dashboard Parent</span></p>
</div>
<div class="container-kid">
    <div class="title-kid">
        <p>My Kids</p>
    </div>
    <div class="container">
        <div class="student-data">
            <div class="my-kid">
                <div class="container-profil">
                    <div class="profil-photo"><img src="assets/icon/person.jpg" alt=""></div>
                    <div class="Name">
                        <p>Raisul Khairi</p>
                    </div>
                </div>
                <div class="data-profil">
                    <div class="name-con">
                        <div class="title">
                            <p>Name :</p>
                        </div>
                        <div class="title2">
                            <p>Raisul Khairi</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title">
                            <p>Gender :</p>
                        </div>
                        <div class="title2">
                            <p>Male</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title">
                            <p> Class :</p>
                        </div>
                        <div class="title2">
                            <p>2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="student-schedule">
            <div class="container-grade">
                <div class="title-grade">
                    <p>Schedule</p>
                </div>
                <div class="container-table-grade">
                    <table>
                        <tr class="header">
                            <th>
                                <p>Id</p>
                            </th>
                            <th>
                                <p>Subject</p>
                            </th>
                            <th>
                                <p>Class</p>
                            </th>
                            <th>
                                <p>Grade</p>
                            </th>
                            <th>
                                <p>Percent</p>
                            </th>
                            <th>
                                <p>Teacher</p>
                            </th>
                            <th>
                                <p></p>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <p>001</p>
                            </td>
                            <td>
                                <p>English</p>
                            </td>
                            <td>
                                <p>2</p>
                            </td>
                            <td>
                                <p>90 </p>
                            </td>
                            <td>
                                <p>ella</p>
                            </td>
                            <td>
                                <p>ella</p>
                            </td>
                            <td>
                                <div class="edit">
                                    <p><a href="">...</a></p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="student-data">
            <div class="my-kid">
                <div class="container-profil">
                    <div class="profil-photo"><img src="assets/icon/person2.jpg" alt=""></div>
                    <div class="Name">
                        <p>Jane</p>
                    </div>
                </div>
                <div class="data-profil">
                    <div class="name-con">
                        <div class="title">
                            <p>Name :</p>
                        </div>
                        <div class="title2">
                            <p>Jane</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title">
                            <p>Gender :</p>
                        </div>
                        <div class="title2">
                            <p>Female</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title">
                            <p> Class :</p>
                        </div>
                        <div class="title2">
                            <p>2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="student-schedule">
            <div class="container-grade">
                <div class="title-grade">
                    <p>Schedule</p>
                </div>
                <div class="container-table-grade">
                    <table>
                        <tr class="header">
                            <th>
                                <p>Id</p>
                            </th>
                            <th>
                                <p>Subject</p>
                            </th>
                            <th>
                                <p>Class</p>
                            </th>
                            <th>
                                <p>Grade</p>
                            </th>
                            <th>
                                <p>Percent</p>
                            </th>
                            <th>
                                <p>Teacher</p>
                            </th>
                            <th>
                                <p></p>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <p>001</p>
                            </td>
                            <td>
                                <p>English</p>
                            </td>
                            <td>
                                <p>2</p>
                            </td>
                            <td>
                                <p>90 </p>
                            </td>
                            <td>
                                <p>ella</p>
                            </td>
                            <td>
                                <p>ella</p>
                            </td>
                            <td>
                                <div class="edit">
                                    <p><a href="">...</a></p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container vh-100 d-inline-block">
    <div class="about-me-profil">
        <div class="container-profil">
            <div class="header-profil">
                <p>My Kids</p>
            </div> -->

<!-- <div class="container-kid">
                <div class="my-kid">
                    <div class="container-prrofil">
                        <div class="profil-photo"><img src="assets/icon/person.jpg" alt=""></div>
                        <div class="Name">
                            <p>Raisul Khairi</p>
                        </div>
                    </div>
                    <div class="data-profil">
                        <div class="name-con">
                            <div class="title">
                                <p>Name :</p>
                            </div>
                            <div class="title2">
                                <p>Raisul Khairi</p>
                            </div>
                        </div>
                        <div class="name-con">
                            <div class="title">
                                <p>Gender :</p>
                            </div>
                            <div class="title2">
                                <p>Male</p>
                            </div>
                        </div>
                        <div class="name-con">
                            <div class="title">
                                <p> Class :</p>
                            </div>
                            <div class="title2">
                                <p>2</p>
                            </div>
                        </div>
                    </div>
                </div>
                 grade -->

<!-- <div class="container-grade">
                    <div class="container-table-grade">
                        <table>
                            <tr class="header">
                                <th>
                                    <p>Id</p>
                                </th>
                                <th>
                                    <p>Subject</p>
                                </th>
                                <th>
                                    <p>Grade</p>
                                </th>
                                <th>
                                    <p>Percent</p>
                                </th>
                                <th>
                                    <p>Teacher</p>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p>001</p>
                                </td>
                                <td>
                                    <p>Raisul Khairi</p>
                                </td>
                                <td>
                                    <p>A</p>
                                </td>
                                <td>
                                    <p>90 </p>
                                </td>
                                <td>
                                    <p>ella</p>
                                </td>
                                <td>
                                    <div class="edit">
                                        <p><a href="">...</a></p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div> -->
<!-- <div class="container-kid">
                <div class="container-prrofil">
                    <div class="profil-photo"><img src="assets/icon/person2.jpg" alt=""></div>
                    <div class="Name">
                        <p>Angel</p>
                    </div>
                </div>
                <div class="data-profil">
                    <div class="name-con">
                        <div class="title">
                            <p>Name :</p>
                        </div>
                        <div class="title2">
                            <p>Angel</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title">
                            <p>Gender :</p>
                        </div>
                        <div class="title2">
                            <p>Female</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title">
                            <p> Class :</p>
                        </div>
                        <div class="title2">
                            <p>4</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title">
                            <p>Roll :</p>
                        </div>
                        <div class="title2">
                            <p>#2121</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title">
                            <p>Section :</p>
                        </div>
                        <div class="title2">
                            <p>A</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title">
                            <p>Admission ID :</p>
                        </div>
                        <div class="title2">
                            <p>#0021</p>
                        </div>
                    </div>
                    <div class="name-con">
                        <div class="title">
                            <p>Admission Date :</p>
                        </div>
                        <div class="title2">
                            <p>07/02/2000</p>
                        </div>
                    </div>
                </div>
            </div> -->